 <!-- header.html (ch08www project) -->
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand' align=center>
                    不吐不快
                </div>
            </div>
            <ul class='nav navbar-nav'>
                <li class='active'><a href='/'>Home</a></li>
                <li><a href='/list'>瀏覽訊息</a></li>  
                <li><a href='/post'>張貼訊息(僅表單)</a></li>
                <li><a href='/post2db'>張貼訊息</a></li>
                <li><a href='/contact'>連絡管理員</a></li>
                <li><a href='/admin'>後台管理</a></li>  
            </ul>
        </div>
    </nav>